body {
  background: #000;
  font-size: 1em;
  line-height: 1.618em;
  font-family: lato;
  margin: 0;
  padding: 0;
}
#main {
  padding: 0;
  margin: 0;
  width: 405px;
  /* max-height: 400px; */
  /* overflow-y: auto; */
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: #1e1e1e;
}
#meta-container {
  color: #cbcbcb;
  float: right;
  text-align: right;
  font-size: 0.6em;
  margin-right: 5px;
  height: 10px;
  display: inline-block;
  width: 395px;
}
#out-of-date {
  width: 100px;
  text-align: left;
}
#out-of-date a {
  color: #098c03;
}
#last-refreshed,
#last-updated {
  margin-right: 5px;
}
.currency-label {
  font-size: 0.6em;
}
/* https://codepen.io/chrisarmstrong/pen/EavDk */
table {
  margin: 0;
  padding: 0;
  width: 400px;
  border-collapse: collapse;
}

th,
td {
  text-align: right;
  padding: 5px 5px;
}

thead tr {
  background: none !important;
  color: #c0c0c0;
}

.stock .name {
  color: #cbcbcb;
  font-weight: bold;
}

.increase .change,
.increase .percentage {
  color: #077107;
}

.increase .change :before,
.increase .change .before {
  content: "";
  display: inline-block;
  float: right;
  border: 0.3em solid transparent;
  border-bottom: 0.4em solid #077107;
  position: relative;
  left: 0.4em;
  top: 0.2em;
}

.decrease .change :before,
.decrease .change .before {
  content: "";
  display: inline-block;
  float: right;
  border: 0.3em solid transparent;
  border-top: 0.4em solid #901313;
  position: relative;
  left: 0.4em;
  top: 0.75em;
}

.decrease .change,
.decrease .percentage {
  color: #901313;
}
